* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Bitter", "Georgia";
}

.logo {
  position: absolute;
  left: 125px;
  top: 125px;
  z-index: 99;
}

.splatter-top-left,
.splatter-section-left,
.splatter-section-right {
  position: absolute;
}

.splatter-top-left {
  left: -500px;
  top: -100px;
}

.splatter-section-left {
  left: -350px;
  top: 60%;
}

.splatter-section-right {
  right: -350px;
  top: 30%;
}

.navigation {
  position: fixed;
  right: 125px;
  top: 125px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  z-index: 99;
}

.navigation li {
  display: inline-block;
  margin: 10px 0;
  position: relative;
}

.navigation a {
  color: #000;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation li {
  padding-bottom: 28px;
  transition: all 0.2s;
}

.navigation li.active {
  background: url("../assets/splatter-blue-small.png") no-repeat center;
}

.navigation .active a {
  font-weight: 700;
}

.section--content {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.section--home {
  background: rgb(191, 244, 255);
  background: linear-gradient(0deg, rgba(191, 244, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.figure-plumbus {
  bottom: 0;
  left: 15%;
  position: absolute;
}

.headline {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 0;
}

@media only screen and (min-width: 1024px) {
  .headline {
    font-size: 50px;
  }
}

.lead {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 60px;
}

.lead + .lead {
  margin-top: 20px;
}

@media only screen and (min-width: 1024px) {
  .lead {
    font-size: 30px;
  }
}

.button--wrapper {
  margin-top: 60px;
}

.button {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  color: #1fbee3;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #1fbee3;
  cursor: pointer;
  min-width: 200px;
}

.button:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}

.button + .button {
  margin-left: 30px;
}

.button.button--primary {
  color: #fff;
  background-color: #1fbee3;
  border-color: #1fbee3;
}

.button.button-primary:hover {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
