/* bitter-regular - latin */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  src: local("Bitter Regular"), local("Bitter-Regular"), url("/assets/fonts/bitter-v12-latin-regular.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* bitter-700 - latin */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  src: local("Bitter Bold"), local("Bitter-Bold"), url("/assets/fonts/bitter-v12-latin-700.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
