@import "//cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css";

/* Added .fp-enabled for specificity and fixing css getting bundled */
.fp-enabled .cc-revoke {
  display: none;
}

.fp-enabled .cc-window,
.fp-enabled .cc-banner,
.fp-enabled .cc-revoke {
  font-family: "Raleway";
  font-size: 10px;
}

.fp-enabled .cc-window.cc-floating {
  padding: 1em;
}

@media only screen and (min-width: 1024px) {
  .fp-enabled .cc-revoke {
    display: block;
  }

  .fp-enabled .cc-window,
  .fp-enabled .cc-banner,
  .fp-enabled .cc-revoke {
    font-size: 14px;
  }
}
