.page {
  bottom: 0;
  height: 85%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.page--inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 64px;
  margin-left: 32px;
  position: relative;
}

.page--headline {
  font-size: 32px;
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 0;
  max-width: 960px;
  width: 100%;
}

.page--lead {
  font-size: 14px;
  line-height: 125%;
  margin-bottom: 0;
  margin-top: 24px;
  width: 100%;
}

.page--lead + .page--lead {
  margin-top: 20px;
}

.page--action {
  margin-top: 32px;
  z-index: 2;
}

.page--image {
  left: -64px;
  bottom: -64px;
  position: absolute;
  width: 95%;
}

.page--image img {
  vertical-align: bottom;
}

.page--figure {
  bottom: -16px;
  position: absolute;
  width: 40%;
}

.page--figure img {
  vertical-align: bottom;
}

.page--spatter-left,
.page--spatter-right {
  position: absolute;
  z-index: -1;
}

.page--spatter-left {
  bottom: 20%;
  left: -50%;
}

.page--spatter-right {
  top: 20%;
  right: -50%;
}

.page--spatter-left img,
.page--spatter-right img {
  width: 400px;
}

/* For tall handheld devices */
@media only screen and (min-width: 500px) and (min-height: 800px) and (max-height: 1000px) {
  .page--image,
  .page--figure {
    margin-left: -32px;
    width: 60%;
  }
}

@media only screen and (min-width: 600px) {
  .page--spatter-left {
    left: -10%;
  }

  .page--spatter-right {
    right: -10%;
  }
}

@media only screen and (min-width: 1024px) {
  .page {
    display: flex;
    width: 100%;
  }

  .page--inner {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 1000px;
    z-index: 20;
  }

  .page--headline,
  .page--lead,
  .page--action {
    margin-left: auto;
    width: 80%;
  }

  .page--headline {
    font-size: 50px;
    line-height: 125%;
  }

  .page--lead {
    font-size: 28px;
    line-height: 135%;
  }

  .page--image {
    width: 30%;
  }

  .page--figure {
    width: 20%;
  }

  .page--background {
    position: absolute;
    right: 0;
    bottom: 70%;
    left: 0;
    z-index: 1;
  }
}

@media only screen and (min-width: 1280px) {
  .page {
    height: 100%;
  }

  .page--inner {
    margin-left: 440px;
    width: 1000px;
  }

  .page--headline {
    margin-top: auto;
  }

  .page--image {
    margin-bottom: -240px;
    margin-left: -784px;
    width: 1000px;
  }

  .page--figure {
    margin-left: -144px;
    width: 300px;
  }

  .page--action {
    margin-top: 48px;
    margin-bottom: auto;
  }
}

@media only screen and (min-width: 1600px) {
  .page--inner {
    margin-left: auto;
    width: 1200px;
  }

  .page--action {
    margin-top: 56px;
  }
}

@media only screen and (min-width: 2000px) {
  .page--headline {
    font-size: 56px;
  }

  .page--lead {
    font-size: 24px;
  }
}
